@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title>My App</title>
    <base href="/" />
</head>
<body>

    <h1>My App</h1>

    <div>
        <a href="/">Home</a> / <a href="/about">About</a>
    </div>

    <ng-view></ng-view>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>

    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/services/services.js"></script>
</body>
</html>